version: '3.10'
services:
  db:
    image: postgres:14.1-alpine
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}

  mailhog:
      image: mailhog/mailhog:latest
      restart: always
      ports:
        - "1025:1025"  # SMTP server
        - "8025:8025"  # Web UI
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - mailhog
      - redis
    volumes:
      - .:/app
      - ./alembic/versions:/app/alembic/versions
      - venv:/app/.venv  # preserve .venv across container restarts

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    command: celery -A app.workers.celery_app.celery_app worker --loglevel=info -Q default
    depends_on:
      - db
      - redis
    env_file:
      - .env

  # Flower - Celery monitoring dashboard
  flower:
    build: .
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery_worker
    command: celery -A app.workers.celery_app.celery_app flower --port=5555
    restart: unless-stopped
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}

  pgadmin:
      container_name: pgadmin
      image: dpage/pgadmin4
      environment:
        - PGADMIN_DEFAULT_EMAIL=admin@pgadmin.org
        - PGADMIN_DEFAULT_PASSWORD=admin
      ports:
        - "5050:80"
      depends_on:
        - db

volumes:
  db: {}
  venv: {}
