name: Backend CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      working-directory: backend
      run: |
        uv sync
        uv pip install pip

    - uses: pre-commit/action@v3.0.1
      working-directory: backend
      with:
        extra_args: --all-files
