name: Backend CI

on:
  push:
    branches:
      - main
      - '*'
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: set up uv
      uses: astral-sh/setup-uv@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      # Installing pip is required for the pre-commit action:
      run: |
        uv sync
        uv pip install pip

    - uses: pre-commit/action@v3.0.1
      with:
        extra_args: --all-files
